#body-container {
  display: flex;
  flex-direction: column;
}

.city_image{
    height: 150px;
    width: 150px;   
}

#body-image{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#city-cards {
    display: flex;
    justify-content: space-evenly;
    padding: 4% 0%;
  }
  .city-image{
    height: 150px;
    width: 150px;
    border-radius: 25%;
  }

  #search-bar {
    position: absolute;
    top: 50%;
    left: 36%; 
    right: 36%;
    bottom: 50%;
  }
  #search-input {
    border: 1px solid ;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 100%;
  }
  #search-input:focus {
    outline: none;
  }

  .city-card-and-name-inner {
    position: relative;
  }

  #view-more {
    margin-bottom:7%;
    display: flex;
    justify-content: center;
  }

  .overlay span {
    position:relative;
    top:45%;
  }