.hotel-images {
    height: 200px;
    width: 250px;
  }

  .new-hotel{
    margin: 4% 5% 0% 5%; 
    background-color: lightgrey;
    width: 40%;
    float: left;
    display: flex;
    justify-content: start;
    align-content: center;
  }

  .body-container{
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 6%;
  }

  .new-hotel{
    margin: 4% 5% 0% 5%; 
    background-color: rgb(132,136,139);
    width: 40%;
  }

  #list-map {
    position: relative;
    top: 0%;
  }
